.light-mode {
  background-color: rgb(67, 39, 196);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: rgb(17, 7, 7);
  color: rgb(204, 32, 32);
  transition: background-color 0.3s, color 0.3s;
}
